---
import { Card } from '@eliancodes/brutal-ui';
import { Image } from 'astro:assets';
import portrait from '../../assets/Alexis.png';
---

<!-- <div class="bg-pink p-6"> -->
<h4 class="text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif">Resume</h4>
<Card>
  <h3 class="text-4xl md:text-5xl lg:text-7xl outfit text-center mb-8">
    Alexis Brones
  </h3>

  <div class="grid md:grid-cols-8 gap-8">
    <section class="col-span-6" aria-labelledby="contact-heading">
      <Card>
        <h4
          id="contact-heading"
          class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif"
        >
          Contact Information
        </h4>
        <address class="poppins">
          <strong class="text-xl">Alexis Brones</strong><br />
           Fullstack Web Developer for positive change<br />
          <a href="tel:+33615141689" class="text-white hover:text-pink"
            >(+33) 6 15 14 16 89</a
          ><br />
          <a
            href="mailto:alexis.brones.pro@gmail.com"
            class="text-white hover:text-pink">alexis.brones.pro@gmail.com</a
          >
        </address>
      </Card>
    </section>

    <section class="col-span-2" aria-label="Profile photo">
      <Card>
        <Image  src={portrait}
        alt="Portrait of Alexis Brones"
      />
      </Card>
    </section>

    <section class="col-span-8" aria-labelledby="about-heading">
      <Card>
        <h4
          id="about-heading"
          class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif"
        >
          About Me
        </h4>
        <p class="poppins">
          "I'm a tech passionate and want to thrive my skills in information
          technology and agile management in projects that positively shape our
          lives and world. My motto: building effective systems requires smart
          user experience and lean impacts."
        </p>
        <p class="poppins mt-4">
          Passionate by tech and curious by nature, I love discovering and
          perfecting new skills. Immersed in ecology from my early age, I'm now
          keen to pass on these values to the IT world through eco-design and
          responsible digital as much as possible.
        </p>
      </Card>
    </section>

    <section class="col-span-4" aria-labelledby="experience-heading">
      <Card>
        <h4
          id="experience-heading"
          class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif"
        >
          Experiences
        </h4>
        <div class="space-y-6">
          <article>
            <h4 class="text-xl outfit mb-2">2016 - 2017 • Atos</h4>
            <p class="poppins mb-4">
              Atos Integration - Pessac Web Developer intern • ACCOR Hotel-
              Frontend, HOD project - AngularJS/Spring (6 p.) • LBP/DISFE -
              Frontend, FwAD2 lib. project - JavaScript/Angular (2 p.)
            </p>
          </article>
          <article>
            <h4 class="text-xl outfit mb-2">2018 - 2024 • Zenika</h4>
            <p class="poppins mb-4">
              Fullstack Web developer, Agile, eco-design & responsible digital
              consultant
            </p>
            <div class="relative">
              <div class="absolute left-1.5 top-0 bottom-0 w-0.5 bg-white">
              </div>
              <ul class="space-y-8 relative">
                <li class="poppins">
                  <div class="flex items-start gap-4">
                    <div class="flex flex-col items-center">
                      <div class="w-3 h-3 bg-white"></div>
                      <div class="w-0.5 h-full bg-white"></div>
                    </div>
                    <div class="p-4">
                      <strong>La Banque Postale</strong> - Frontend, Mobile app
                      - FwAD (AngularJs) - (8 p.)
                    </div>
                  </div>
                </li>
                <li class="poppins">
                  <div class="flex items-start gap-4">
                    <div class="flex flex-col items-center">
                      <div class="w-3 h-3 bg-white"></div>
                      <div class="w-0.5 h-full bg-white"></div>
                    </div>
                    <div class="p-4">
                      <strong>DOTIC</strong> - Fullstack, Fiber infra. app -
                      AngularJs/GraphQL & Kaban - (4 p.)
                    </div>
                  </div>
                </li>
                <li class="poppins">
                  <div class="flex items-start gap-4">
                    <div class="flex flex-col items-center">
                      <div class="w-3 h-3 bg-white"></div>
                      <div class="w-0.5 h-full bg-white"></div>
                    </div>
                    <div class="p-4">
                      <strong>Fatec Group</strong> - Frontend & Agile -
                      Nuxt2/Vue2 & Scrum Master - (12 p.)<br />
                      <small class="text-gray-300"
                        >"Zenika has played a pivotal role in guiding Fatec
                        through its digital transformation. I developed together
                        with the project team an application to manage
                        automobile fleets and trained the project team on
                        frontend and agility."</small
                      >
                    </div>
                  </div>
                </li>
                <li class="poppins">
                  <div class="flex items-start gap-4">
                    <div class="flex flex-col items-center">
                      <div class="w-3 h-3 bg-white"></div>
                      <div class="w-0.5 h-full bg-white"></div>
                    </div>
                    <div class="p-4">
                      <strong>Manomano</strong> - Backend - Java/Spring/Kotlin &
                      Scrum - (2 p. then 6 p.)<br />
                      <small class="text-gray-300"
                        >"For OneStock project, I developed together with
                        another team member a new micro-service interfacing an
                        external solution to handle warehouse fulfillment and
                        stock for a e-commerce platform with performances
                        challenges and I achieved the action standards."</small
                      >
                    </div>
                  </div>
                </li>
                <li class="poppins">
                  <div class="flex items-start gap-4">
                    <div class="flex flex-col items-center">
                      <div class="w-3 h-3 bg-white"></div>
                      <div class="w-0.5 h-full bg-white"></div>
                    </div>
                    <div class="p-4">
                      <strong>Splio</strong> - Frontend - Jquery/React16 & Scrum
                      - (alone then 6 p.)<br />
                      <small class="text-gray-300"
                        >"In Marketing automation project-a campaign mailing and
                        SMS automation application for business- I refactored
                        and simplified legacy Jquery modules to enable migration
                        to React and reduce technical debt in a context of
                        companies fusion."</small
                      >
                    </div>
                  </div>
                </li>
                <li class="poppins">
                  <div class="flex items-start gap-4">
                    <div class="flex flex-col items-center">
                      <div class="w-3 h-3 bg-white"></div>
                      <div class="w-0.5 h-full bg-white"></div>
                    </div>
                    <div class="p-4">
                      <strong>Playplay</strong> - Frontend -
                      Vue2/TypeScript/Symfony & Scrumban - (7 p.)<br />
                      <small class="text-gray-300"
                        >"In this project, a video generation application for
                        business, in a context of a startup scaling-up, I
                        identified the need of the architectural/technical
                        migration that I initiated and improved video playback,
                        video generation and dynamic interfaces."</small
                      >
                    </div>
                  </div>
                </li>
                <li class="poppins">
                  <div class="flex items-start gap-4">
                    <div class="flex flex-col items-center">
                      <div class="w-3 h-3 bg-white"></div>
                      <div class="w-0.5 h-full bg-white"></div>
                    </div>
                    <div class="p-4">
                      <strong>HelloAsso</strong> - Frontend - Nuxt2/3/Vue2/3 &
                      Scrum - (8 p.)<br />
                      <small class="text-gray-300"
                        >"In project Platform, a multi purpose platform for
                        associations, I brought my experience to improve product
                        conception with technical aspect in early process stage
                        and to drive technical migration of the legacy front-end
                        code base and design system."</small
                      >
                    </div>
                  </div>
                </li>
                <li class="poppins">
                  <div class="flex items-start gap-4">
                    <div class="flex flex-col items-center">
                      <div class="w-3 h-3 bg-white"></div>
                    </div>
                    <div class="p-4">
                      <strong>Hellowork</strong> - Lead Tech - React16/Node/Vite
                      & Scrum Master - (9 people team)<br />
                      <small class="text-gray-300"
                        >"My challenge involves streamlining communication
                        between technical functions and product managers, along
                        with structuring the project team and workflow following
                        the acquisition of Seekube startup. I've bolstered
                        technical expertise in software craftsmanship and
                        project management to maintain high standards for team
                        deliverables."</small
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </Card>
    </section>

    <section
      class="col-span-4"
      aria-labelledby="education-certifications-heading"
    >
      <Card>
        <h
          id="education-heading"
          class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif"
        >
          Education
        </h>
        <ul class="poppins space-y-2">
          <li>2014 - 2016 • Computer Science degree at Bayonne University</li>
          <li>
            2016 - 2017 • Web dev. & digital innovation bachelor at Bordeaux
            University
          </li>
          <li>
            2018 - 2023 • Professional training courses/Zenika
            (Java/Kotlin/Spring, Domain Driven Design, Scrum, Test Driven Dev.,
            SaFe, GreenIT, Supervision, Performances, Typescript, Vue.js, etc)
          </li>
        </ul>
      </Card>
      <section class="mt-8" aria-labelledby="certifications-heading">
        <Card>
          <h4
            id="certifications-heading"
            class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif"
          >
            Certifications
          </h4>
          <ul class="poppins space-y-2">
            <li>2019 • CSM 1 Scrum Master Level 1 by ScrumAlliance</li>
            <li>
              2021 • Eco-design & Sober & Responsible digital by GreenIT.fr
            </li>
          </ul>
        </Card>
      </section>
      <section class="col-span-4 mt-8">
        <div class="grid grid-cols-2 gap-8 mt-8">
          <section aria-labelledby="language-heading">
            <Card>
              <h4
                id="language-heading"
                class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif"
              >
                Languages
              </h4>
              <div class="poppins">
                <ul class="space-y-2">
                  <li>French (fluent)</li>
                  <li>English (technical)</li>
                  <li>Spanish (understanding)</li>
                  <li>Portuguese (BR.) (basic)</li>
                </ul>
              </div>
            </Card>
          </section>
          <section aria-labelledby="hobbies-heading">
            <Card>
              <h4
                id="hobbies-heading"
                class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif"
              >
                Hobbies
              </h4>
              <ul class="space-y-2">
                <li>Cooking</li>
                <li>Gardening</li>
                <li>Woodworking</li>
                <li>Music</li>
                <li>Trip</li>
                <li>Stroll</li>
                <li>Art</li>
                <li>Video games</li>
              </ul>
            </Card>
          </section>
        </div>
      </section>
    </section>

    <section class="col-span-8" aria-labelledby="skills-heading">
      <Card>
        <h4
          id="skills-heading"
          class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif"
        >
          Skills
        </h4>
        <div class="grid grid-cols-2 gap-16">
          <div class="poppins">
            <h3 class="text-2xl outfit mb-2">Hard Skills</h3>
            <ul class="space-y-2">
              <li class="flex justify-between items-center">
                Frontend Dev.
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                Backend Dev.
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                Agility
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                Project Mgmt.
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                Architecture
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                Trainer
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                Software Craft.
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                Vue.js
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                Svelte.js
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                React.js
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                CI/CD
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                Domain analysis
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                </div>
              </li>
            </ul>
          </div>
          <div class="poppins">
            <h3 class="text-2xl outfit mb-2">Soft Skills</h3>
            <ul class="space-y-2">
              <li class="flex justify-between items-center">
                Empathy
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                Adaptability
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                Transparency
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                Curiosity
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                Emotional Intl.
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                Creativity
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                Team work
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                Active listening
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                Communication
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-gray-600"></span>
                </div>
              </li>
              <li class="flex justify-between items-center">
                Problem solving
                <div class="flex gap-1">
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                  <span class="w-3 h-3 rounded-full bg-white"></span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </Card>
    </section>
  </div>
</Card>
<!-- </div> -->

<!-- </div> -->
